body {
    margin: 0;
    padding: 0;
    background: #FDC830;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.navbar {
    margin-left: 10%;
    margin-right: 10%;
}

.top-navigation-container {
    background-color: blue;
    width: 100%;
    height: 60px;
    overflow: auto;
    margin: auto;
}

.top-navigation-buttons a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 18px;
}

.top-navigation-buttons a:hover {
    background-color: #ddd;
    color: black;
}

.top-navigation-buttons a.active {
    background-color: #4CAF50;
    color: white;
}

.Logo {
    float: left;
    height: 60px;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.top-carousel {
    margin-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
}

.titleText {
    margin: 0;
    padding: 0;
    text-align: center;
}

.gallery-container, .container-contact1, .shop-container {
    margin-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 1200px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 800px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

.jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/bees-close-up-honey-53444.jpg");
    background-size: cover;
}

.jumbotron-container {
    color: white;
}

.carousel {
    padding-bottom: 50px;
}

.carousel-inner {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    max-height: 50vh;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    transition: all 0.2s ease-out;
}

.col-lg-4 {
    text-align: center;
}

.container-features {
    margin: 0 10% 0 10%;
}

.feature-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 500px;
    margin-bottom: 20px;
}

.feature-1.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-right: 50px;
    width: 25%;
}

.feature-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 500px;
    margin-bottom: 20px;
}

.feature-2.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    margin-left: 50px;
    width: 25%;
}

.feature-image {
    width: 600px;
    height: 500px;
}

@media (max-width: 1200px) {
    .feature-1, .feature-2 {
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        height: auto;
    }
    .feature-1.text, .feature-2.text {
        width: 100%;
        height: 40%;
        margin-right: 0;
        margin-left: 0;
    }
    .feature-image {
        height: 500px;
    }
    .shop-container, .container {
        margin-top: 80px;
        padding-left: 0;
        padding-right: 0;
    }
    #Logo{
        width: 300px;
        height: 50px;
    }
}

.container-contact1 {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.fa-trash {
    background-image: url(./images/icons/trash-solid.svg)
}

.item-price::before, .postage-and-packaging::before, .sub-total-value::before {
    content: "£";
    font-weight: bold;
}

.item-hyperlink-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#Logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#Logo path:nth-child(1) {
    stroke-dasharray: 213px;
    stroke-dashoffset: 213px;
    animation: line-anim 2s ease forwards;
}

#Logo path:nth-child(2) {
    stroke-dasharray: 255px;
    stroke-dashoffset: 255px;
    animation: line-anim 2s ease forwards 0.3s;
}

#Logo path:nth-child(3) {
    stroke-dasharray: 254px;
    stroke-dashoffset: 254px;
    animation: line-anim 2s ease forwards 0.6s;
}

#Logo path:nth-child(4) {
    stroke-dasharray: 352px;
    stroke-dashoffset: 352px;
    animation: line-anim 2s ease forwards 0.9s;
}

#Logo path:nth-child(5) {
    stroke-dasharray: 115px;
    stroke-dashoffset: 115px;
    animation: line-anim 2s ease forwards 1.2s;
}

#Logo path:nth-child(6) {
    stroke-dasharray: 137px;
    stroke-dashoffset: 137px;
    animation: line-anim 2s ease forwards 1.5s;
}

#Logo path:nth-child(7) {
    stroke-dasharray: 334px;
    stroke-dashoffset: 334px;
    animation: line-anim 2s ease forwards 1.8s;
}

#Logo path:nth-child(8) {
    stroke-dasharray: 429px;
    stroke-dashoffset: 429px;
    animation: line-anim 2s ease forwards 2.1s;
}

#Logo path:nth-child(9) {
    stroke-dasharray: 254px;
    stroke-dashoffset: 254px;
    animation: line-anim 2s ease forwards 2.4s;
}

#Logo path:nth-child(10) {
    stroke-dasharray: 254px;
    stroke-dashoffset: 254px;
    animation: line-anim 2s ease forwards 2.7s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}