body{
    margin: 0;
    padding: 0;

    background: #eecda3;
    background: -webkit-linear-gradient(to bottom right, #eecda3, #edef62);
    background: linear-gradient(to bottom right, #eecda3, #edef62);
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

.navbar{
    margin-left: 10%;
    margin-right: 10%;
}

.top-navigation-container{
    background-color: blue;
    width: 100%;
    height: 60px;
    overflow: auto;
    margin: auto;
}

.top-navigation-buttons a{
  float: right;
  color: #f2f2f2;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 18px;
}

.top-navigation-buttons a:hover {
    background-color: #ddd;
    color: black;
}

.top-navigation-buttons a.active {
    background-color: #4CAF50;
    color: white;
}

.Logo{
    float: left;
    height: 60px;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.top-carousel{
    margin-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
}

.titleText{
    margin: 0;
    padding: 0;
    text-align: center;
}

.gallery-container, .container-contact1, .shop-container{
    margin-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); 
}
    
@media (max-width: 1200px) {
    .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
}

@media (max-width: 800px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
}   

.jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/bees-close-up-honey-53444.jpg");
    background-size: cover;
  }

.jumbotron-container{
    color: white;
}

.carousel{
    padding-bottom: 50px;
}

.carousel-inner {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
}

.carousel-item{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    max-height: 50vh;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    transition: all 0.2s ease-out;
}

.col-lg-4{
    text-align: center;
}

.container-features{
    margin: 0 10% 0 10%;
}

.feature-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 500px;
    margin-bottom: 20px;
}

.feature-1.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-right: 50px;
    width: 25%;
}

.feature-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 500px;
    margin-bottom: 20px;
}

.feature-2.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    margin-left: 50px;
    width: 25%;
}

.feature-image{
    width: 600px;
    height:500px;
}

@media (max-width: 1200px) {
    .feature-1,  .feature-2{
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        height: auto;
    }
    .feature-1.text, .feature-2.text{
        width: 100%;
        height: 40%;
        margin-right: 0;
        margin-left: 0;
    }
    .feature-image{
        height:500px;
    }

    .shop-container, .container{
        margin-top: 80px;
        padding-left: 0;
        padding-right: 0;
    }
}

.container-contact1 {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .fa-trash{
      background-image: url(./images/icons/trash-solid.svg)
  }

  .item-price::before, .postage-and-packaging::before, .sub-total-value::before{
      content:"£";
      font-weight: bold;
  }
